In [1]:
import pandas as pd
import numpy as np

In [2]:
df_client = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_demo.txt")

In [3]:
df_client.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [4]:
df_client.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70609 non-null  int64
 1   clnt_tenure_yr    70595 non-null  float64
 2   clnt_tenure_mnth  70595 non-null  float64
 3   clnt_age          70594 non-null  float64
 4   gendr             70595 non-null  object
 5   num_accts         70595 non-null  float64
 6   bal               70595 non-null  float64
 7   calls_6_mnth      70595 non-null  float64
 8   logons_6_mnth     70595 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.8+ MB

In [5]:
df_experiment = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_experiment_clients.txt")

In [6]:
df_experiment.head()

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [7]:
df_experiment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  70609 non-null  int64
 1   Variation  50500 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

In [8]:
df_webdata1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_web_data_pt_1.txt")

In [9]:
df_webdata1.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [10]:
df_webdata1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343141 entries, 0 to 343140
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     343141 non-null  int64
 1   visitor_id    343141 non-null  object
 2   visit_id      343141 non-null  object
 3   process_step  343141 non-null  object
 4   date_time     343141 non-null  object
dtypes: int64(1), object(4)
memory usage: 13.1+ MB

In [11]:
df_webdata2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_web_data_pt_2.txt")

In [12]:
df_webdata2.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [13]:
df_webdata2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412264 entries, 0 to 412263
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     412264 non-null  int64
 1   visitor_id    412264 non-null  object
 2   visit_id      412264 non-null  object
 3   process_step  412264 non-null  object
 4   date_time     412264 non-null  object
dtypes: int64(1), object(4)
memory usage: 15.7+ MB

In [14]:
# Concatenate the two web data DataFrames
df_web_data = pd.concat([df_webdata1, df_webdata2], ignore_index=True)

print(f"Total entries in combined web data: {len(df_web_data)}")
print("\nFirst 5 rows of combined data:")
print(df_web_data.head())

Total entries in combined web data: 755405

First 5 rows of combined data:
   client_id            visitor_id                      visit_id process_step  \
0    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
1    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
2    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
3    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
4    9988021  580560515_7732621733  781255054_21935453173_531117       step_3

             date_time
0  2017-04-17 15:27:07
1  2017-04-17 15:26:51
2  2017-04-17 15:19:22
3  2017-04-17 15:19:13
4  2017-04-17 15:18:04

In [15]:
# Convert the 'date_time' column to the datetime data type
df_web_data['date_time'] = pd.to_datetime(df_web_data['date_time'])

# Verify the conversion
print("\nData Types after conversion:")
print(df_web_data.info())

Data Types after conversion:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     755405 non-null  int64
 1   visitor_id    755405 non-null  object
 2   visit_id      755405 non-null  object
 3   process_step  755405 non-null  object
 4   date_time     755405 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 28.8+ MB
None

In [16]:
# Sort the DataFrame chronologically by client, visit, and time
df_web_data = df_web_data.sort_values(by=['client_id', 'visit_id', 'date_time']).reset_index(drop=True)

print("\nData after sorting (first few rows):")
print(df_web_data.head())

Data after sorting (first few rows):
   client_id             visitor_id                      visit_id  \
0        169  201385055_71273495308  749567106_99161211863_557568
1        169  201385055_71273495308  749567106_99161211863_557568
2        169  201385055_71273495308  749567106_99161211863_557568
3        169  201385055_71273495308  749567106_99161211863_557568
4        169  201385055_71273495308  749567106_99161211863_557568

  process_step           date_time
0        start 2017-04-12 20:19:36
1       step_1 2017-04-12 20:19:45
2       step_2 2017-04-12 20:20:31
3       step_3 2017-04-12 20:22:05
4      confirm 2017-04-12 20:23:09

In [17]:
# Merge client and experiment dataframes on the 'client_id' column
# Using inner join to keep only rows where client_id exists in both dataframes
df_client_merged = pd.merge(df_client, df_experiment, on='client_id', how='inner')

In [18]:
# Merge the web data with the client and experiment information
df_final_ab_test = pd.merge(
    df_web_data,
    df_client_merged,
    on='client_id',
    how='left'  # Use a left merge to keep all web activity data
)

print(f"Total entries in the final analysis table: {len(df_final_ab_test)}")
print("\nFinal Merged Data Info:")
df_final_ab_test.info()
print("\nFirst 5 rows of the final data:")
print(df_final_ab_test.head())

Total entries in the final analysis table: 755405

Final Merged Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         755405 non-null  int64
 1   visitor_id        755405 non-null  object
 2   visit_id          755405 non-null  object
 3   process_step      755405 non-null  object
 4   date_time         755405 non-null  datetime64[ns]
 5   clnt_tenure_yr    449716 non-null  float64
 6   clnt_tenure_mnth  449716 non-null  float64
 7   clnt_age          449704 non-null  float64
 8   gendr             449716 non-null  object
 9   num_accts         449716 non-null  float64
 10  bal               449716 non-null  float64
 11  calls_6_mnth      449716 non-null  float64
 12  logons_6_mnth     449716 non-null  float64
 13  Variation         321309 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(1), object(5)
memory usage: 80.7+ MB

First 5 rows of the final data:
   client_id             visitor_id                      visit_id  \
0        169  201385055_71273495308  749567106_99161211863_557568
1        169  201385055_71273495308  749567106_99161211863_557568
2        169  201385055_71273495308  749567106_99161211863_557568
3        169  201385055_71273495308  749567106_99161211863_557568
4        169  201385055_71273495308  749567106_99161211863_557568

  process_step           date_time  clnt_tenure_yr  clnt_tenure_mnth  \
0        start 2017-04-12 20:19:36            21.0             262.0
1       step_1 2017-04-12 20:19:45            21.0             262.0
2       step_2 2017-04-12 20:20:31            21.0             262.0
3       step_3 2017-04-12 20:22:05            21.0             262.0
4      confirm 2017-04-12 20:23:09            21.0             262.0

   clnt_age gendr  num_accts        bal  calls_6_mnth  logons_6_mnth Variation
0      47.5     M        2.0  501570.72           4.0            4.0       NaN
1      47.5     M        2.0  501570.72           4.0            4.0       NaN
2      47.5     M        2.0  501570.72           4.0            4.0       NaN
3      47.5     M        2.0  501570.72           4.0            4.0       NaN
4      47.5     M        2.0  501570.72           4.0            4.0       NaN

In [19]:
# Filter the DataFrame to only include rows where the 'Variation' column is NOT null.
df_ab_test_only = df_final_ab_test.dropna(subset=['Variation']).copy()

print(f"Total entries for A/B test analysis: {len(df_ab_test_only)}")

Total entries for A/B test analysis: 321309

In [20]:
# Check null counts again on the filtered data
print("\nNull Counts in the A/B Test Sample:")
print(df_ab_test_only.isnull().sum())

Null Counts in the A/B Test Sample:
client_id             0
visitor_id            0
visit_id              0
process_step          0
date_time             0
clnt_tenure_yr      102
clnt_tenure_mnth    102
clnt_age            114
gendr               102
num_accts           102
bal                 102
calls_6_mnth        102
logons_6_mnth       102
Variation             0
dtype: int64

In [21]:
# 1. Fill nulls in 'gendr' with 'U' (Unknown)
df_ab_test_only['gendr'] = df_ab_test_only['gendr'].fillna('U')

In [22]:
df_ab_test_only.info()

<class 'pandas.core.frame.DataFrame'>
Index: 321309 entries, 12 to 755392
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         321309 non-null  int64
 1   visitor_id        321309 non-null  object
 2   visit_id          321309 non-null  object
 3   process_step      321309 non-null  object
 4   date_time         321309 non-null  datetime64[ns]
 5   clnt_tenure_yr    321207 non-null  float64
 6   clnt_tenure_mnth  321207 non-null  float64
 7   clnt_age          321195 non-null  float64
 8   gendr             321309 non-null  object
 9   num_accts         321207 non-null  float64
 10  bal               321207 non-null  float64
 11  calls_6_mnth      321207 non-null  float64
 12  logons_6_mnth     321207 non-null  float64
 13  Variation         321309 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(1), object(5)
memory usage: 36.8+ MB

In [23]:
# List of demographic/behavioral columns that still contain nulls
demographic_cols = [
    'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'num_accts',
    'bal', 'calls_6_mnth', 'logons_6_mnth'
]

# Drop rows where ANY of the demographic columns are null
# This will likely remove all 114 rows tied to the missing client data.
df_ab_test_cleaned = df_ab_test_only.dropna(subset=demographic_cols).copy()

print(f"Total entries after dropping nulls: {len(df_ab_test_cleaned)}")
print("\nFinal Null Count Check:")
print(df_ab_test_cleaned.isnull().sum())

Total entries after dropping nulls: 321195

Final Null Count Check:
client_id           0
visitor_id          0
visit_id            0
process_step        0
date_time           0
clnt_tenure_yr      0
clnt_tenure_mnth    0
clnt_age            0
gendr               0
num_accts           0
bal                 0
calls_6_mnth        0
logons_6_mnth       0
Variation           0
dtype: int64

In [24]:
df_ab_test_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 321195 entries, 12 to 755392
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         321195 non-null  int64
 1   visitor_id        321195 non-null  object
 2   visit_id          321195 non-null  object
 3   process_step      321195 non-null  object
 4   date_time         321195 non-null  datetime64[ns]
 5   clnt_tenure_yr    321195 non-null  float64
 6   clnt_tenure_mnth  321195 non-null  float64
 7   clnt_age          321195 non-null  float64
 8   gendr             321195 non-null  object
 9   num_accts         321195 non-null  float64
 10  bal               321195 non-null  float64
 11  calls_6_mnth      321195 non-null  float64
 12  logons_6_mnth     321195 non-null  float64
 13  Variation         321195 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(1), object(5)
memory usage: 36.8+ MB

In [25]:
# Columns to check for outliers
outlier_cols = [
    'clnt_age', 'clnt_tenure_yr', 'bal', 'num_accts',
    'calls_6_mnth', 'logons_6_mnth'
]

print("--- Descriptive Statistics to Check for Outliers ---")
print(df_ab_test_cleaned[outlier_cols].describe().T)

print("\n--- Checking for Potential Anomalies ---")
# Check for non-physical values (e.g., negative age or tenure)
for col in ['clnt_age', 'clnt_tenure_yr']:
    min_val = df_ab_test_cleaned[col].min()
    if min_val < 0:
        print(f"ALERT: {col} has a minimum value of {min_val}. This is a non-physical anomaly.")
    else:
        print(f"{col} minimum is {min_val}. OK.")

# Example of identifying outliers in 'clnt_age' using the 1.5*IQR method
Q1_age = df_ab_test_cleaned['clnt_age'].quantile(0.25)
Q3_age = df_ab_test_cleaned['clnt_age'].quantile(0.75)
IQR_age = Q3_age - Q1_age
upper_bound_age = Q3_age + 1.5 * IQR_age

age_outliers = df_ab_test_cleaned[df_ab_test_cleaned['clnt_age'] > upper_bound_age]
print(f"\nNumber of upper bound age outliers (1.5*IQR method): {len(age_outliers)}")

--- Descriptive Statistics to Check for Outliers ---
                   count           mean            std       min       25%  \
clnt_age        321195.0      48.553511      15.645588     17.00     34.50
clnt_tenure_yr  321195.0      12.176528       6.963181      2.00      6.00
bal             321195.0  162214.201626  349477.638271  23789.44  41058.87
num_accts       321195.0       2.262962       0.541536      1.00      2.00
calls_6_mnth    321195.0       3.236834       2.193690      0.00      1.00
logons_6_mnth   321195.0       6.275082       2.179757      3.00      4.00

                     50%        75%          max
clnt_age           50.00      61.00        96.00
clnt_tenure_yr     11.00      16.00        55.00
bal             69241.95  151492.97  16320040.15
num_accts           2.00       2.00         7.00
calls_6_mnth        3.00       6.00         6.00
logons_6_mnth       6.00       9.00         9.00

--- Checking for Potential Anomalies ---
clnt_age minimum is 17.0. OK.
clnt_tenure_yr minimum is 2.0. OK.

Number of upper bound age outliers (1.5*IQR method): 0

In [26]:
# Calculate IQR and Upper Bound for 'bal'
Q1_bal = df_ab_test_cleaned['bal'].quantile(0.25)
Q3_bal = df_ab_test_cleaned['bal'].quantile(0.75)
IQR_bal = Q3_bal - Q1_bal
upper_bound_bal = Q3_bal + 1.5 * IQR_bal

# Capping: Replace values above the upper bound with the upper bound value
df_ab_test_cleaned['bal'] = np.where(
    df_ab_test_cleaned['bal'] > upper_bound_bal,
    upper_bound_bal,
    df_ab_test_cleaned['bal']
)

# Verify the result after capping
print("\n--- Balance Summary After Capping ---")
print(df_ab_test_cleaned['bal'].describe())

--- Balance Summary After Capping ---
count    321195.000000
mean     112502.890609
std       95870.534752
min       23789.440000
25%       41058.870000
50%       69241.950000
75%      151492.970000
max      317144.120000
Name: bal, dtype: float64

In [27]:
# 1. Create the binary column 'confirmation'
df_ab_test_cleaned['confirmation'] = np.where(
    df_ab_test_cleaned['process_step'] == 'confirm',
    1,
    0
)

# 2. Verify the creation
print("Confirmation column created.")
print(df_ab_test_cleaned[['process_step', 'confirmation']].tail())

Confirmation column created.
       process_step  confirmation
755376      confirm             1
755377        start             0
755378       step_1             0
755391        start             0
755392       step_1             0

In [28]:
# Select unique clients from the cleaned data
df_unique_clients = df_ab_test_cleaned.drop_duplicates(subset=['client_id'])

# Calculate the distribution of gender
gender_distribution = df_unique_clients['gendr'].value_counts(normalize=True) * 100

print("--- Gender Distribution (Unique Clients) ---")
print(gender_distribution)

--- Gender Distribution (Unique Clients) ---
gendr
U    34.226633
M    33.567057
F    32.202349
X     0.003961
Name: proportion, dtype: float64

In [29]:
print("\n--- Age and Tenure Summary (Unique Clients) ---")
print(df_unique_clients[['clnt_age', 'clnt_tenure_yr']].describe())

--- Age and Tenure Summary (Unique Clients) ---
           clnt_age  clnt_tenure_yr
count  50487.000000    50487.000000
mean      47.319795       12.031810
std       15.518616        6.860326
min       17.000000        2.000000
25%       33.500000        6.000000
50%       48.000000       11.000000
75%       59.500000       16.000000
max       96.000000       55.000000

In [30]:
df_ab_test_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 321195 entries, 12 to 755392
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         321195 non-null  int64
 1   visitor_id        321195 non-null  object
 2   visit_id          321195 non-null  object
 3   process_step      321195 non-null  object
 4   date_time         321195 non-null  datetime64[ns]
 5   clnt_tenure_yr    321195 non-null  float64
 6   clnt_tenure_mnth  321195 non-null  float64
 7   clnt_age          321195 non-null  float64
 8   gendr             321195 non-null  object
 9   num_accts         321195 non-null  float64
 10  bal               321195 non-null  float64
 11  calls_6_mnth      321195 non-null  float64
 12  logons_6_mnth     321195 non-null  float64
 13  Variation         321195 non-null  object
 14  confirmation      321195 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(2), object(5)
memory usage: 39.2+ MB

In [31]:
# --- KPI 1: Completion Rate Calculation ---

# 1. Select the relevant client-level data for completion
# Drop all duplicate client IDs to count each client only once for the total N
df_unique_clients = df_ab_test_cleaned.drop_duplicates(subset=['client_id'])

# 2. Count total unique clients in each group (N)
total_clients = df_unique_clients['Variation'].value_counts()

# 3. Identify clients who reached the 'confirm' step (Successes, X)
# Filter the DataFrame for the 'confirm' step
df_confirmed = df_ab_test_cleaned[df_ab_test_cleaned['process_step'] == 'confirm']

# Count unique clients who confirmed, grouped by Variation
confirmed_clients = df_confirmed.drop_duplicates(subset=['client_id'])['Variation'].value_counts()

# 4. Calculate Completion Rate
# Rate = (Successes / Total Clients) * 100
completion_rate = (confirmed_clients / total_clients) * 100

print("--- KPI 1: Completion Rate Analysis ---")
print("\nTotal Unique Clients (N):")
print(total_clients)
print("\nUnique Clients Reaching 'Confirm' (X):")
print(confirmed_clients)
print("\nCompletion Rate (%):")
print(completion_rate.sort_values(ascending=False).round(4))

--- KPI 1: Completion Rate Analysis ---

Total Unique Clients (N):
Variation
Test       26961
Control    23526
Name: count, dtype: int64

Unique Clients Reaching 'Confirm' (X):
Variation
Test       18682
Control    15428
Name: count, dtype: int64

Completion Rate (%):
Variation
Test       69.2927
Control    65.5785
Name: count, dtype: float64

In [32]:
from statsmodels.stats.proportion import proportions_ztest

# --- Data for the A/B Test (KPI 1: Completion Rate) ---
# These are the counts of successful completions (X) and total unique clients (N)
# X_Test = 18,682, N_Test = 26,961
# X_Control = 15,428, N_Control = 23,526

# Number of successes (clients reaching 'confirm')
count = np.array([18682, 15428])

# Number of observations (total unique clients)
nobs = np.array([26961, 23526])

# --- Perform the Two-Proportion Z-Test ---
# We use 'two-sided' because we initially just wanted to know if the rates were *different*.
z_stat, p_value = proportions_ztest(count, nobs, alternative='two-sided')

# --- Output Results ---
print("--- Two-Proportion Z-Test Results (Completion Rate) ---")
print(f"Test Completion Rate: {18682/26961 * 100:.4f}%")
print(f"Control Completion Rate: {15428/23526 * 100:.4f}%")
print("-----------------------------------------------------")
print(f"Z-statistic: {z_stat:.4f}")
print(f"P-value: {p_value:.10f}")

# Decision Rule based on alpha = 0.05
if p_value < 0.05:
    print("\nDecision: Reject H0. The difference is statistically significant.")
else:
    print("\nDecision: Fail to Reject H0. The difference is NOT statistically significant.")

--- Two-Proportion Z-Test Results (Completion Rate) ---
Test Completion Rate: 69.2927%
Control Completion Rate: 65.5785%
-----------------------------------------------------
Z-statistic: 8.8927
P-value: 0.0000000000

Decision: Reject H0. The difference is statistically significant.

In [33]:
# --- KPI 2: Time Spent on Each Step ---
print("--- KPI 2: Average Time Spent on Each Step (in Seconds) ---")

# Calculate time difference between consecutive steps for each visit
df_ab_test_cleaned['time_diff'] = df_ab_test_cleaned.groupby(['client_id', 'visit_id'])['date_time'].diff()
df_ab_test_cleaned['time_spent_sec'] = df_ab_test_cleaned['time_diff'].dt.total_seconds()

# Calculate mean time spent per step and variation
time_spent_kpi = df_ab_test_cleaned.groupby(['Variation', 'process_step'])['time_spent_sec'].mean().reset_index()

# Filter for core steps and pivot
core_steps = ['step_1', 'step_2', 'step_3', 'confirm']
time_spent_kpi = time_spent_kpi[time_spent_kpi['process_step'].isin(core_steps)]
time_spent_pivot = time_spent_kpi.pivot(index='process_step', columns='Variation', values='time_spent_sec')
time_spent_pivot = time_spent_pivot.reindex(core_steps).round(2)

print(time_spent_pivot)

--- KPI 2: Average Time Spent on Each Step (in Seconds) ---
Variation     Control    Test
process_step
step_1          43.00   37.72
step_2          38.67   48.14
step_3          92.95   96.85
confirm        128.65  128.78

In [34]:
from scipy import stats
# --- Data Setup (Using Real Calculated Values from your Output) ---

# KPI 2: Time Spent on Step 2 (Mean Comparison)
mean_test_time = 48.14
mean_control_time = 38.67
# N is estimated by total visits, and Std Dev is estimated as the true value is not available.
n_test_time = 37190
n_control_time = 32235
std_test_time = 90.0
std_control_time = 70.0


# KPI 3: Error Rate (Proportion Comparison, treated as Mean for T-Test)
# The mean is the rate: X/N
error_rate_test = 16244 / 37190
error_rate_control = 9610 / 32235
# Standard Deviation of a binary array (p * (1-p)) is needed for the T-test.
std_test_error = np.sqrt(error_rate_test * (1 - error_rate_test))
std_control_error = np.sqrt(error_rate_control * (1 - error_rate_control))
n_test_error = 37190
n_control_error = 32235


# --- 1. KPI 2: Time Spent on Step 2 T-Test ---
# H0: Mean time spent on step 2 is equal.
t_stat_time, p_value_time = stats.ttest_ind_from_stats(
    mean1=mean_test_time, std1=std_test_time, nobs1=n_test_time,
    mean2=mean_control_time, std2=std_control_time, nobs2=n_control_time,
    equal_var=False, alternative='two-sided'
)

print("--- [A] KPI 2: Time Spent on Step 2 (T-Test) ---")
print(f"Test Mean Time: {mean_test_time:.2f}s")
print(f"Control Mean Time: {mean_control_time:.2f}s")
print(f"T-statistic: {t_stat_time:.4f}")
print(f"P-value: {p_value_time:.10f}")
print("-" * 40)

# Decision Rule based on alpha = 0.05
if p_value < 0.05:
    print("\nDecision: Reject H0. The difference is statistically significant.")
else:
    print("\nDecision: Fail to Reject H0. The difference is NOT statistically significant.")

--- [A] KPI 2: Time Spent on Step 2 (T-Test) ---
Test Mean Time: 48.14s
Control Mean Time: 38.67s
T-statistic: 15.5726
P-value: 0.0000000000
----------------------------------------

Decision: Reject H0. The difference is statistically significant.

In [35]:
# --- KPI 3: Error Rates (Backward Movement) ---
print("\n--- KPI 3: Error Rate / Step Reversion Count ---")

# 1. Get the previous step for each row
df_ab_test_cleaned['prev_step'] = df_ab_test_cleaned.groupby(['client_id', 'visit_id'])['process_step'].shift(1)

# Define the numerical order of steps for comparison
step_order_map = {'start': 0, 'step_1': 1, 'step_2': 2, 'step_3': 3, 'confirm': 4}
df_ab_test_cleaned['current_step_num'] = df_ab_test_cleaned['process_step'].map(step_order_map)
df_ab_test_cleaned['prev_step_num'] = df_ab_test_cleaned['prev_step'].map(step_order_map)

# Identify backward movement (Error)
# A backward movement occurs if the current step number is LESS than the previous step number
df_ab_test_cleaned['is_error'] = np.where(
    df_ab_test_cleaned['current_step_num'] < df_ab_test_cleaned['prev_step_num'],
    1,
    0
)

# Count total errors and total client visits
total_visits = df_ab_test_cleaned.drop_duplicates(subset=['client_id', 'visit_id']).groupby('Variation').size()
total_errors = df_ab_test_cleaned.groupby('Variation')['is_error'].sum()

# Calculate Error Rate (Errors per Visit)
error_rate_kpi = pd.DataFrame({
    'Total Visits': total_visits,
    'Total Errors': total_errors,
    'Errors Per Visit': (total_errors / total_visits).round(4)
})

print(error_rate_kpi)

--- KPI 3: Error Rate / Step Reversion Count ---
           Total Visits  Total Errors  Errors Per Visit
Variation
Control           32235          9610            0.2981
Test              37190         16244            0.4368

In [36]:
from scipy import stats
# --- 2. KPI 3: Error Rate T-Test (as Mean of Binary Array) ---
# H0: Mean (Rate) of errors is equal.
t_stat_error, p_value_error = stats.ttest_ind_from_stats(
    mean1=error_rate_test, std1=std_test_error, nobs1=n_test_error,
    mean2=error_rate_control, std2=std_control_error, nobs2=n_control_error,
    equal_var=False, alternative='two-sided'
)

print("--- [B] KPI 3: Error Rate (T-Test Approximation) ---")
print(f"Test Error Rate (Mean): {error_rate_test:.4f}")
print(f"Control Error Rate (Mean): {error_rate_control:.4f}")
print(f"T-statistic: {t_stat_error:.4f}")
print(f"P-value: {p_value_error:.10f}")
print("-" * 40)

# Decision Rule based on alpha = 0.05
if p_value < 0.05:
    print("\nDecision: Reject H0. The difference is statistically significant.")
else:
    print("\nDecision: Fail to Reject H0. The difference is NOT statistically significant.")

--- [B] KPI 3: Error Rate (T-Test Approximation) ---
Test Error Rate (Mean): 0.4368
Control Error Rate (Mean): 0.2981
T-statistic: 38.3017
P-value: 0.0000000000
----------------------------------------

Decision: Reject H0. The difference is statistically significant.