In [2]:
import pandas as pd

In [3]:
df_client = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_demo.txt")

In [4]:
df_client.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [5]:
df_client.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70609 non-null  int64
 1   clnt_tenure_yr    70595 non-null  float64
 2   clnt_tenure_mnth  70595 non-null  float64
 3   clnt_age          70594 non-null  float64
 4   gendr             70595 non-null  object
 5   num_accts         70595 non-null  float64
 6   bal               70595 non-null  float64
 7   calls_6_mnth      70595 non-null  float64
 8   logons_6_mnth     70595 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.8+ MB

In [6]:
df_experiment = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_experiment_clients.txt")

In [7]:
df_experiment.head()

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [17]:
df_experiment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  70609 non-null  int64
 1   Variation  50500 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

In [8]:
df_webdata1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_web_data_pt_1.txt")

In [9]:
df_webdata1.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [18]:
df_webdata1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343141 entries, 0 to 343140
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     343141 non-null  int64
 1   visitor_id    343141 non-null  object
 2   visit_id      343141 non-null  object
 3   process_step  343141 non-null  object
 4   date_time     343141 non-null  object
dtypes: int64(1), object(4)
memory usage: 13.1+ MB

In [10]:
df_webdata2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_web_data_pt_2.txt")

In [11]:
df_webdata2.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [19]:
df_webdata2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412264 entries, 0 to 412263
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     412264 non-null  int64
 1   visitor_id    412264 non-null  object
 2   visit_id      412264 non-null  object
 3   process_step  412264 non-null  object
 4   date_time     412264 non-null  object
dtypes: int64(1), object(4)
memory usage: 15.7+ MB

In [13]:
import os
import pandas as pd

cwd = os.getcwd()
candidates = [f for f in os.listdir(cwd) if any(k in f.lower() for k in ["demo","web","experiment"])]

print("Working dir:", cwd)
print("Found candidate files:", candidates)

def try_read(path):
    for sep in [",", "\t", "|", ";"]:
        try:
            df = pd.read_csv(path, sep=sep, nrows=5)
            print(f"SUCCESS reading {path} with sep='{sep}' -> shape preview: {df.shape}")
            display(df.head())
            return True
        except Exception as e:
            #print(f"fail sep={sep}: {e}")
            pass
    print(f"Could not read {path} with common separators.")
    return False

for f in candidates:
    print("\n--- trying:", f)
    try_read(os.path.join(cwd, f))

Working dir: C:\Users\lenovo\Downloads
Found candidate files: ['2.6_web_scraping.ipynb', 'df_final_experiment_clients.txt', 'mysql-installer-web-community-8.0.43.0 (1).msi', 'mysql-installer-web-community-8.0.43.0.msi']

--- trying: 2.6_web_scraping.ipynb
SUCCESS reading C:\Users\lenovo\Downloads\2.6_web_scraping.ipynb with sep='	' -> shape preview: (5, 1)

                                                  {
0                                        "cells": [
1                                                 {
2                          "cell_type": "markdown",
3     "id": "5171aeed-67b1-4643-bd50-1ffcdfdc9c41",
4                                     "metadata": {

--- trying: df_final_experiment_clients.txt
SUCCESS reading C:\Users\lenovo\Downloads\df_final_experiment_clients.txt with sep=',' -> shape preview: (5, 2)

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

--- trying: mysql-installer-web-community-8.0.43.0 (1).msi
Could not read C:\Users\lenovo\Downloads\mysql-installer-web-community-8.0.43.0 (1).msi with common separators.

--- trying: mysql-installer-web-community-8.0.43.0.msi
Could not read C:\Users\lenovo\Downloads\mysql-installer-web-community-8.0.43.0.msi with common separators.

In [14]:
# Load & clean df_final_experiment_clients.txt (found in Downloads)
import os
import pandas as pd

# paths
cwd = os.getcwd()
exp_path = os.path.join(cwd, "df_final_experiment_clients.txt")

# read (we already detected comma separation; safe to use read_csv)
df_experiment = pd.read_csv(exp_path)

print("Raw df_experiment shape:", df_experiment.shape)
display(df_experiment.head())

# normalize column name if necessary
if "Variation" in df_experiment.columns and "variation" not in df_experiment.columns:
    df_experiment = df_experiment.rename(columns={"Variation": "variation"})

# count nulls and drop them
null_variation = df_experiment["variation"].isna().sum()
print("Rows with null 'variation':", null_variation)

df_experiment_clean = df_experiment[df_experiment["variation"].notna()].copy().reset_index(drop=True)
print("After dropping nulls shape:", df_experiment_clean.shape)

# normalize text to 'control' / 'test'
df_experiment_clean["variation"] = (
    df_experiment_clean["variation"]
    .astype(str)
    .str.strip()
    .str.lower()
    .map(lambda s: "control" if s.startswith("c") else ("test" if s.startswith("t") else s))
)

print("\nVariation distribution:")
print(df_experiment_clean["variation"].value_counts(dropna=False))

# create data/ if missing and save cleaned experiment file
os.makedirs("data", exist_ok=True)
out_path = os.path.join("data", "df_final_experiment_clients.csv")
df_experiment_clean.to_csv(out_path, index=False)
print(f"\nSaved cleaned experiment roster to: {out_path}")

Raw df_experiment shape: (70609, 2)

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

Rows with null 'variation': 20109
After dropping nulls shape: (50500, 2)

Variation distribution:
variation
test       26968
control    23532
Name: count, dtype: int64

Saved cleaned experiment roster to: data\df_final_experiment_clients.csv